<h1 [class.bg]="isBg" [hidden]="isBg">Hello, {{user}}</h1>

<div>
    <input type="checkbox" [(ngModel)]="isBg">
</div>

<input type="text" value="{{user}}">
<input type="text" [value]="user"><br>

<input type="text" [(ngModel)]="user">


<div class="fruits" *ngIf="fruits.length">
    <h2 [ngClass]="{bg: true}">Fruits</h2>
    <ul>
        <li *ngFor="let fruit of fruits; let i = index">{{i}} {{fruit}} </li>
    </ul>
</div>

<div>
    {{count}}
    <button (click)="increment()">+</button>
</div>


@if (fruits.length>0) {
    <h2>Fruits</h2>
    <ul>
        @for (fruit of fruits; track $index) {
           <li> {{$index}} {{fruit}}</li>
        }
    </ul>
}